/***  Transitions  ***/
/***  Radius  ***/
/***  Box Border  ***/
/***  Cover BG  ***/
/***  Flexbox  ***/
/* --------------------
Keyframes
--------------------------*/
@-moz-keyframes rotateBlock {
  0% {
    -webkit-transform: translateX(-15deg);
    -moz-transform: translateX(-15deg);
    -ms-transform: translateX(-15deg);
    -o-transform: translateX(-15deg);
    transform: translateX(-15deg); }
  100% {
    -webkit-transform: translateX(90deg);
    -moz-transform: translateX(90deg);
    -ms-transform: translateX(90deg);
    -o-transform: translateX(90deg);
    transform: translateX(90deg); } }

@-webkit-keyframes rotateBlock {
  0% {
    -webkit-transform: translateX(-15deg);
    -moz-transform: translateX(-15deg);
    -ms-transform: translateX(-15deg);
    -o-transform: translateX(-15deg);
    transform: translateX(-15deg); }
  100% {
    -webkit-transform: translateX(90deg);
    -moz-transform: translateX(90deg);
    -ms-transform: translateX(90deg);
    -o-transform: translateX(90deg);
    transform: translateX(90deg); } }

@-o-keyframes rotateBlock {
  0% {
    -webkit-transform: translateX(-15deg);
    -moz-transform: translateX(-15deg);
    -ms-transform: translateX(-15deg);
    -o-transform: translateX(-15deg);
    transform: translateX(-15deg); }
  100% {
    -webkit-transform: translateX(90deg);
    -moz-transform: translateX(90deg);
    -ms-transform: translateX(90deg);
    -o-transform: translateX(90deg);
    transform: translateX(90deg); } }

@-ms-keyframes rotateBlock {
  /* line 270, /Users/apflantzer/sandbox/sizzle/styles/mixins.scss */
  0% {
    -webkit-transform: translateX(-15deg);
    -moz-transform: translateX(-15deg);
    -ms-transform: translateX(-15deg);
    -o-transform: translateX(-15deg);
    transform: translateX(-15deg); }
  /* line 273, /Users/apflantzer/sandbox/sizzle/styles/mixins.scss */
  100% {
    -webkit-transform: translateX(90deg);
    -moz-transform: translateX(90deg);
    -ms-transform: translateX(90deg);
    -o-transform: translateX(90deg);
    transform: translateX(90deg); } }

@-khtml-keyframes rotateBlock {
  /* line 270, /Users/apflantzer/sandbox/sizzle/styles/mixins.scss */
  0% {
    -webkit-transform: translateX(-15deg);
    -moz-transform: translateX(-15deg);
    -ms-transform: translateX(-15deg);
    -o-transform: translateX(-15deg);
    transform: translateX(-15deg); }
  /* line 273, /Users/apflantzer/sandbox/sizzle/styles/mixins.scss */
  100% {
    -webkit-transform: translateX(90deg);
    -moz-transform: translateX(90deg);
    -ms-transform: translateX(90deg);
    -o-transform: translateX(90deg);
    transform: translateX(90deg); } }

@keyframes rotateBlock {
  0% {
    -webkit-transform: translateX(-15deg);
    -moz-transform: translateX(-15deg);
    -ms-transform: translateX(-15deg);
    -o-transform: translateX(-15deg);
    transform: translateX(-15deg); }
  100% {
    -webkit-transform: translateX(90deg);
    -moz-transform: translateX(90deg);
    -ms-transform: translateX(90deg);
    -o-transform: translateX(90deg);
    transform: translateX(90deg); } }

@-moz-keyframes dropIn {
  0% {
    -webkit-transform: translate3d(0, -200px, 0) scale3d(1, 1, 1);
    -moz-transform: translate3d(0, -200px, 0) scale3d(1, 1, 1);
    -ms-transform: translate3d(0, -200px, 0) scale3d(1, 1, 1);
    transform: translate3d(0, -200px, 0) scale3d(1, 1, 1); }
  50% {
    -webkit-transform: translate3d(0, 0, 0) scale3d(1.3, 1.5, 1.3);
    -moz-transform: translate3d(0, 0, 0) scale3d(1.3, 1.5, 1.3);
    -ms-transform: translate3d(0, 0, 0) scale3d(1.3, 1.5, 1.3);
    transform: translate3d(0, 0, 0) scale3d(1.3, 1.5, 1.3); }
  100% {
    -webkit-transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
    -moz-transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
    -ms-transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
    transform: translate3d(0, 0, 0) scale3d(1, 1, 1); } }

@-webkit-keyframes dropIn {
  0% {
    -webkit-transform: translate3d(0, -200px, 0) scale3d(1, 1, 1);
    -moz-transform: translate3d(0, -200px, 0) scale3d(1, 1, 1);
    -ms-transform: translate3d(0, -200px, 0) scale3d(1, 1, 1);
    transform: translate3d(0, -200px, 0) scale3d(1, 1, 1); }
  50% {
    -webkit-transform: translate3d(0, 0, 0) scale3d(1.3, 1.5, 1.3);
    -moz-transform: translate3d(0, 0, 0) scale3d(1.3, 1.5, 1.3);
    -ms-transform: translate3d(0, 0, 0) scale3d(1.3, 1.5, 1.3);
    transform: translate3d(0, 0, 0) scale3d(1.3, 1.5, 1.3); }
  100% {
    -webkit-transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
    -moz-transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
    -ms-transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
    transform: translate3d(0, 0, 0) scale3d(1, 1, 1); } }

@-o-keyframes dropIn {
  0% {
    -webkit-transform: translate3d(0, -200px, 0) scale3d(1, 1, 1);
    -moz-transform: translate3d(0, -200px, 0) scale3d(1, 1, 1);
    -ms-transform: translate3d(0, -200px, 0) scale3d(1, 1, 1);
    transform: translate3d(0, -200px, 0) scale3d(1, 1, 1); }
  50% {
    -webkit-transform: translate3d(0, 0, 0) scale3d(1.3, 1.5, 1.3);
    -moz-transform: translate3d(0, 0, 0) scale3d(1.3, 1.5, 1.3);
    -ms-transform: translate3d(0, 0, 0) scale3d(1.3, 1.5, 1.3);
    transform: translate3d(0, 0, 0) scale3d(1.3, 1.5, 1.3); }
  100% {
    -webkit-transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
    -moz-transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
    -ms-transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
    transform: translate3d(0, 0, 0) scale3d(1, 1, 1); } }

@-ms-keyframes dropIn {
  /* line 278, /Users/apflantzer/sandbox/sizzle/styles/mixins.scss */
  0% {
    -webkit-transform: translate3d(0, -200px, 0) scale3d(1, 1, 1);
    -moz-transform: translate3d(0, -200px, 0) scale3d(1, 1, 1);
    -ms-transform: translate3d(0, -200px, 0) scale3d(1, 1, 1);
    transform: translate3d(0, -200px, 0) scale3d(1, 1, 1); }
  /* line 281, /Users/apflantzer/sandbox/sizzle/styles/mixins.scss */
  50% {
    -webkit-transform: translate3d(0, 0, 0) scale3d(1.3, 1.5, 1.3);
    -moz-transform: translate3d(0, 0, 0) scale3d(1.3, 1.5, 1.3);
    -ms-transform: translate3d(0, 0, 0) scale3d(1.3, 1.5, 1.3);
    transform: translate3d(0, 0, 0) scale3d(1.3, 1.5, 1.3); }
  /* line 284, /Users/apflantzer/sandbox/sizzle/styles/mixins.scss */
  100% {
    -webkit-transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
    -moz-transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
    -ms-transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
    transform: translate3d(0, 0, 0) scale3d(1, 1, 1); } }

@-khtml-keyframes dropIn {
  /* line 278, /Users/apflantzer/sandbox/sizzle/styles/mixins.scss */
  0% {
    -webkit-transform: translate3d(0, -200px, 0) scale3d(1, 1, 1);
    -moz-transform: translate3d(0, -200px, 0) scale3d(1, 1, 1);
    -ms-transform: translate3d(0, -200px, 0) scale3d(1, 1, 1);
    transform: translate3d(0, -200px, 0) scale3d(1, 1, 1); }
  /* line 281, /Users/apflantzer/sandbox/sizzle/styles/mixins.scss */
  50% {
    -webkit-transform: translate3d(0, 0, 0) scale3d(1.3, 1.5, 1.3);
    -moz-transform: translate3d(0, 0, 0) scale3d(1.3, 1.5, 1.3);
    -ms-transform: translate3d(0, 0, 0) scale3d(1.3, 1.5, 1.3);
    transform: translate3d(0, 0, 0) scale3d(1.3, 1.5, 1.3); }
  /* line 284, /Users/apflantzer/sandbox/sizzle/styles/mixins.scss */
  100% {
    -webkit-transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
    -moz-transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
    -ms-transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
    transform: translate3d(0, 0, 0) scale3d(1, 1, 1); } }

@keyframes dropIn {
  0% {
    -webkit-transform: translate3d(0, -200px, 0) scale3d(1, 1, 1);
    -moz-transform: translate3d(0, -200px, 0) scale3d(1, 1, 1);
    -ms-transform: translate3d(0, -200px, 0) scale3d(1, 1, 1);
    transform: translate3d(0, -200px, 0) scale3d(1, 1, 1); }
  50% {
    -webkit-transform: translate3d(0, 0, 0) scale3d(1.3, 1.5, 1.3);
    -moz-transform: translate3d(0, 0, 0) scale3d(1.3, 1.5, 1.3);
    -ms-transform: translate3d(0, 0, 0) scale3d(1.3, 1.5, 1.3);
    transform: translate3d(0, 0, 0) scale3d(1.3, 1.5, 1.3); }
  100% {
    -webkit-transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
    -moz-transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
    -ms-transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
    transform: translate3d(0, 0, 0) scale3d(1, 1, 1); } }

@-moz-keyframes slightZoomExitDown {
  0% {
    -webkit-transform: scale3d(0.8, 0.8, 0.8);
    -moz-transform: scale3d(0.8, 0.8, 0.8);
    -ms-transform: scale3d(0.8, 0.8, 0.8);
    transform: scale3d(0.8, 0.8, 0.8);
    opacity: 0; }
  50% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    -moz-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); }
  75% {
    opacity: 1; }
  85% {
    animation-timing-function: ease-in; }
  100% {
    -webkit-transform: scale3d(1.2, 1.2, 1.2);
    -moz-transform: scale3d(1.2, 1.2, 1.2);
    -ms-transform: scale3d(1.2, 1.2, 1.2);
    transform: scale3d(1.2, 1.2, 1.2);
    -webkit-transform: translate3d(0, 200px, 0);
    -moz-transform: translate3d(0, 200px, 0);
    -ms-transform: translate3d(0, 200px, 0);
    transform: translate3d(0, 200px, 0);
    opacity: 0; } }

@-webkit-keyframes slightZoomExitDown {
  0% {
    -webkit-transform: scale3d(0.8, 0.8, 0.8);
    -moz-transform: scale3d(0.8, 0.8, 0.8);
    -ms-transform: scale3d(0.8, 0.8, 0.8);
    transform: scale3d(0.8, 0.8, 0.8);
    opacity: 0; }
  50% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    -moz-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); }
  75% {
    opacity: 1; }
  85% {
    animation-timing-function: ease-in; }
  100% {
    -webkit-transform: scale3d(1.2, 1.2, 1.2);
    -moz-transform: scale3d(1.2, 1.2, 1.2);
    -ms-transform: scale3d(1.2, 1.2, 1.2);
    transform: scale3d(1.2, 1.2, 1.2);
    -webkit-transform: translate3d(0, 200px, 0);
    -moz-transform: translate3d(0, 200px, 0);
    -ms-transform: translate3d(0, 200px, 0);
    transform: translate3d(0, 200px, 0);
    opacity: 0; } }

@-o-keyframes slightZoomExitDown {
  0% {
    -webkit-transform: scale3d(0.8, 0.8, 0.8);
    -moz-transform: scale3d(0.8, 0.8, 0.8);
    -ms-transform: scale3d(0.8, 0.8, 0.8);
    transform: scale3d(0.8, 0.8, 0.8);
    opacity: 0; }
  50% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    -moz-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); }
  75% {
    opacity: 1; }
  85% {
    animation-timing-function: ease-in; }
  100% {
    -webkit-transform: scale3d(1.2, 1.2, 1.2);
    -moz-transform: scale3d(1.2, 1.2, 1.2);
    -ms-transform: scale3d(1.2, 1.2, 1.2);
    transform: scale3d(1.2, 1.2, 1.2);
    -webkit-transform: translate3d(0, 200px, 0);
    -moz-transform: translate3d(0, 200px, 0);
    -ms-transform: translate3d(0, 200px, 0);
    transform: translate3d(0, 200px, 0);
    opacity: 0; } }

@-ms-keyframes slightZoomExitDown {
  /* line 289, /Users/apflantzer/sandbox/sizzle/styles/mixins.scss */
  0% {
    -webkit-transform: scale3d(0.8, 0.8, 0.8);
    -moz-transform: scale3d(0.8, 0.8, 0.8);
    -ms-transform: scale3d(0.8, 0.8, 0.8);
    transform: scale3d(0.8, 0.8, 0.8);
    opacity: 0; }
  /* line 293, /Users/apflantzer/sandbox/sizzle/styles/mixins.scss */
  50% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    -moz-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); }
  /* line 297, /Users/apflantzer/sandbox/sizzle/styles/mixins.scss */
  75% {
    opacity: 1; }
  /* line 300, /Users/apflantzer/sandbox/sizzle/styles/mixins.scss */
  85% {
    animation-timing-function: ease-in; }
  /* line 304, /Users/apflantzer/sandbox/sizzle/styles/mixins.scss */
  100% {
    -webkit-transform: scale3d(1.2, 1.2, 1.2);
    -moz-transform: scale3d(1.2, 1.2, 1.2);
    -ms-transform: scale3d(1.2, 1.2, 1.2);
    transform: scale3d(1.2, 1.2, 1.2);
    -webkit-transform: translate3d(0, 200px, 0);
    -moz-transform: translate3d(0, 200px, 0);
    -ms-transform: translate3d(0, 200px, 0);
    transform: translate3d(0, 200px, 0);
    opacity: 0; } }

@-khtml-keyframes slightZoomExitDown {
  /* line 289, /Users/apflantzer/sandbox/sizzle/styles/mixins.scss */
  0% {
    -webkit-transform: scale3d(0.8, 0.8, 0.8);
    -moz-transform: scale3d(0.8, 0.8, 0.8);
    -ms-transform: scale3d(0.8, 0.8, 0.8);
    transform: scale3d(0.8, 0.8, 0.8);
    opacity: 0; }
  /* line 293, /Users/apflantzer/sandbox/sizzle/styles/mixins.scss */
  50% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    -moz-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); }
  /* line 297, /Users/apflantzer/sandbox/sizzle/styles/mixins.scss */
  75% {
    opacity: 1; }
  /* line 300, /Users/apflantzer/sandbox/sizzle/styles/mixins.scss */
  85% {
    animation-timing-function: ease-in; }
  /* line 304, /Users/apflantzer/sandbox/sizzle/styles/mixins.scss */
  100% {
    -webkit-transform: scale3d(1.2, 1.2, 1.2);
    -moz-transform: scale3d(1.2, 1.2, 1.2);
    -ms-transform: scale3d(1.2, 1.2, 1.2);
    transform: scale3d(1.2, 1.2, 1.2);
    -webkit-transform: translate3d(0, 200px, 0);
    -moz-transform: translate3d(0, 200px, 0);
    -ms-transform: translate3d(0, 200px, 0);
    transform: translate3d(0, 200px, 0);
    opacity: 0; } }

@keyframes slightZoomExitDown {
  0% {
    -webkit-transform: scale3d(0.8, 0.8, 0.8);
    -moz-transform: scale3d(0.8, 0.8, 0.8);
    -ms-transform: scale3d(0.8, 0.8, 0.8);
    transform: scale3d(0.8, 0.8, 0.8);
    opacity: 0; }
  50% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    -moz-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); }
  75% {
    opacity: 1; }
  85% {
    animation-timing-function: ease-in; }
  100% {
    -webkit-transform: scale3d(1.2, 1.2, 1.2);
    -moz-transform: scale3d(1.2, 1.2, 1.2);
    -ms-transform: scale3d(1.2, 1.2, 1.2);
    transform: scale3d(1.2, 1.2, 1.2);
    -webkit-transform: translate3d(0, 200px, 0);
    -moz-transform: translate3d(0, 200px, 0);
    -ms-transform: translate3d(0, 200px, 0);
    transform: translate3d(0, 200px, 0);
    opacity: 0; } }

@-moz-keyframes bigZoomExitFade {
  0% {
    -webkit-transform: scale3d(0.8, 0.8, 0.8);
    -moz-transform: scale3d(0.8, 0.8, 0.8);
    -ms-transform: scale3d(0.8, 0.8, 0.8);
    transform: scale3d(0.8, 0.8, 0.8);
    opacity: 0; }
  50% {
    opacity: 1;
    -webkit-transform: scale3d(1.2, 1.2, 1.2);
    -moz-transform: scale3d(1.2, 1.2, 1.2);
    -ms-transform: scale3d(1.2, 1.2, 1.2);
    transform: scale3d(1.2, 1.2, 1.2); }
  75% {
    opacity: 1;
    color: red; }
  85% {
    -webkit-transform: scale3d(1.2, 1.2, 1.2);
    -moz-transform: scale3d(1.2, 1.2, 1.2);
    -ms-transform: scale3d(1.2, 1.2, 1.2);
    transform: scale3d(1.2, 1.2, 1.2);
    animation-timing-function: ease-in; }
  100% {
    -webkit-transform: scale3d(1.5, 1.5, 1.5);
    -moz-transform: scale3d(1.5, 1.5, 1.5);
    -ms-transform: scale3d(1.5, 1.5, 1.5);
    transform: scale3d(1.5, 1.5, 1.5);
    opacity: 0; } }

@-webkit-keyframes bigZoomExitFade {
  0% {
    -webkit-transform: scale3d(0.8, 0.8, 0.8);
    -moz-transform: scale3d(0.8, 0.8, 0.8);
    -ms-transform: scale3d(0.8, 0.8, 0.8);
    transform: scale3d(0.8, 0.8, 0.8);
    opacity: 0; }
  50% {
    opacity: 1;
    -webkit-transform: scale3d(1.2, 1.2, 1.2);
    -moz-transform: scale3d(1.2, 1.2, 1.2);
    -ms-transform: scale3d(1.2, 1.2, 1.2);
    transform: scale3d(1.2, 1.2, 1.2); }
  75% {
    opacity: 1;
    color: red; }
  85% {
    -webkit-transform: scale3d(1.2, 1.2, 1.2);
    -moz-transform: scale3d(1.2, 1.2, 1.2);
    -ms-transform: scale3d(1.2, 1.2, 1.2);
    transform: scale3d(1.2, 1.2, 1.2);
    animation-timing-function: ease-in; }
  100% {
    -webkit-transform: scale3d(1.5, 1.5, 1.5);
    -moz-transform: scale3d(1.5, 1.5, 1.5);
    -ms-transform: scale3d(1.5, 1.5, 1.5);
    transform: scale3d(1.5, 1.5, 1.5);
    opacity: 0; } }

@-o-keyframes bigZoomExitFade {
  0% {
    -webkit-transform: scale3d(0.8, 0.8, 0.8);
    -moz-transform: scale3d(0.8, 0.8, 0.8);
    -ms-transform: scale3d(0.8, 0.8, 0.8);
    transform: scale3d(0.8, 0.8, 0.8);
    opacity: 0; }
  50% {
    opacity: 1;
    -webkit-transform: scale3d(1.2, 1.2, 1.2);
    -moz-transform: scale3d(1.2, 1.2, 1.2);
    -ms-transform: scale3d(1.2, 1.2, 1.2);
    transform: scale3d(1.2, 1.2, 1.2); }
  75% {
    opacity: 1;
    color: red; }
  85% {
    -webkit-transform: scale3d(1.2, 1.2, 1.2);
    -moz-transform: scale3d(1.2, 1.2, 1.2);
    -ms-transform: scale3d(1.2, 1.2, 1.2);
    transform: scale3d(1.2, 1.2, 1.2);
    animation-timing-function: ease-in; }
  100% {
    -webkit-transform: scale3d(1.5, 1.5, 1.5);
    -moz-transform: scale3d(1.5, 1.5, 1.5);
    -ms-transform: scale3d(1.5, 1.5, 1.5);
    transform: scale3d(1.5, 1.5, 1.5);
    opacity: 0; } }

@-ms-keyframes bigZoomExitFade {
  /* line 311, /Users/apflantzer/sandbox/sizzle/styles/mixins.scss */
  0% {
    -webkit-transform: scale3d(0.8, 0.8, 0.8);
    -moz-transform: scale3d(0.8, 0.8, 0.8);
    -ms-transform: scale3d(0.8, 0.8, 0.8);
    transform: scale3d(0.8, 0.8, 0.8);
    opacity: 0; }
  /* line 315, /Users/apflantzer/sandbox/sizzle/styles/mixins.scss */
  50% {
    opacity: 1;
    -webkit-transform: scale3d(1.2, 1.2, 1.2);
    -moz-transform: scale3d(1.2, 1.2, 1.2);
    -ms-transform: scale3d(1.2, 1.2, 1.2);
    transform: scale3d(1.2, 1.2, 1.2); }
  /* line 319, /Users/apflantzer/sandbox/sizzle/styles/mixins.scss */
  75% {
    opacity: 1;
    color: red; }
  /* line 323, /Users/apflantzer/sandbox/sizzle/styles/mixins.scss */
  85% {
    -webkit-transform: scale3d(1.2, 1.2, 1.2);
    -moz-transform: scale3d(1.2, 1.2, 1.2);
    -ms-transform: scale3d(1.2, 1.2, 1.2);
    transform: scale3d(1.2, 1.2, 1.2);
    animation-timing-function: ease-in; }
  /* line 327, /Users/apflantzer/sandbox/sizzle/styles/mixins.scss */
  100% {
    -webkit-transform: scale3d(1.5, 1.5, 1.5);
    -moz-transform: scale3d(1.5, 1.5, 1.5);
    -ms-transform: scale3d(1.5, 1.5, 1.5);
    transform: scale3d(1.5, 1.5, 1.5);
    opacity: 0; } }

@-khtml-keyframes bigZoomExitFade {
  /* line 311, /Users/apflantzer/sandbox/sizzle/styles/mixins.scss */
  0% {
    -webkit-transform: scale3d(0.8, 0.8, 0.8);
    -moz-transform: scale3d(0.8, 0.8, 0.8);
    -ms-transform: scale3d(0.8, 0.8, 0.8);
    transform: scale3d(0.8, 0.8, 0.8);
    opacity: 0; }
  /* line 315, /Users/apflantzer/sandbox/sizzle/styles/mixins.scss */
  50% {
    opacity: 1;
    -webkit-transform: scale3d(1.2, 1.2, 1.2);
    -moz-transform: scale3d(1.2, 1.2, 1.2);
    -ms-transform: scale3d(1.2, 1.2, 1.2);
    transform: scale3d(1.2, 1.2, 1.2); }
  /* line 319, /Users/apflantzer/sandbox/sizzle/styles/mixins.scss */
  75% {
    opacity: 1;
    color: red; }
  /* line 323, /Users/apflantzer/sandbox/sizzle/styles/mixins.scss */
  85% {
    -webkit-transform: scale3d(1.2, 1.2, 1.2);
    -moz-transform: scale3d(1.2, 1.2, 1.2);
    -ms-transform: scale3d(1.2, 1.2, 1.2);
    transform: scale3d(1.2, 1.2, 1.2);
    animation-timing-function: ease-in; }
  /* line 327, /Users/apflantzer/sandbox/sizzle/styles/mixins.scss */
  100% {
    -webkit-transform: scale3d(1.5, 1.5, 1.5);
    -moz-transform: scale3d(1.5, 1.5, 1.5);
    -ms-transform: scale3d(1.5, 1.5, 1.5);
    transform: scale3d(1.5, 1.5, 1.5);
    opacity: 0; } }

@keyframes bigZoomExitFade {
  0% {
    -webkit-transform: scale3d(0.8, 0.8, 0.8);
    -moz-transform: scale3d(0.8, 0.8, 0.8);
    -ms-transform: scale3d(0.8, 0.8, 0.8);
    transform: scale3d(0.8, 0.8, 0.8);
    opacity: 0; }
  50% {
    opacity: 1;
    -webkit-transform: scale3d(1.2, 1.2, 1.2);
    -moz-transform: scale3d(1.2, 1.2, 1.2);
    -ms-transform: scale3d(1.2, 1.2, 1.2);
    transform: scale3d(1.2, 1.2, 1.2); }
  75% {
    opacity: 1;
    color: red; }
  85% {
    -webkit-transform: scale3d(1.2, 1.2, 1.2);
    -moz-transform: scale3d(1.2, 1.2, 1.2);
    -ms-transform: scale3d(1.2, 1.2, 1.2);
    transform: scale3d(1.2, 1.2, 1.2);
    animation-timing-function: ease-in; }
  100% {
    -webkit-transform: scale3d(1.5, 1.5, 1.5);
    -moz-transform: scale3d(1.5, 1.5, 1.5);
    -ms-transform: scale3d(1.5, 1.5, 1.5);
    transform: scale3d(1.5, 1.5, 1.5);
    opacity: 0; } }

@-moz-keyframes fadeAndDropdown {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(1.2, 1.2, 1.2);
    -moz-transform: scale3d(1.2, 1.2, 1.2);
    -ms-transform: scale3d(1.2, 1.2, 1.2);
    transform: scale3d(1.2, 1.2, 1.2); }
  50% {
    opacity: 1; }
  75% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0) scale3d(1.4, 1.4, 1.4);
    -moz-transform: translate3d(0, 0, 0) scale3d(1.4, 1.4, 1.4);
    -ms-transform: translate3d(0, 0, 0) scale3d(1.4, 1.4, 1.4);
    transform: translate3d(0, 0, 0) scale3d(1.4, 1.4, 1.4); }
  100% {
    -webkit-transform: translate3d(0, 100px, 0);
    -moz-transform: translate3d(0, 100px, 0);
    -ms-transform: translate3d(0, 100px, 0);
    transform: translate3d(0, 100px, 0);
    opacity: 0; } }

@-webkit-keyframes fadeAndDropdown {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(1.2, 1.2, 1.2);
    -moz-transform: scale3d(1.2, 1.2, 1.2);
    -ms-transform: scale3d(1.2, 1.2, 1.2);
    transform: scale3d(1.2, 1.2, 1.2); }
  50% {
    opacity: 1; }
  75% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0) scale3d(1.4, 1.4, 1.4);
    -moz-transform: translate3d(0, 0, 0) scale3d(1.4, 1.4, 1.4);
    -ms-transform: translate3d(0, 0, 0) scale3d(1.4, 1.4, 1.4);
    transform: translate3d(0, 0, 0) scale3d(1.4, 1.4, 1.4); }
  100% {
    -webkit-transform: translate3d(0, 100px, 0);
    -moz-transform: translate3d(0, 100px, 0);
    -ms-transform: translate3d(0, 100px, 0);
    transform: translate3d(0, 100px, 0);
    opacity: 0; } }

@-o-keyframes fadeAndDropdown {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(1.2, 1.2, 1.2);
    -moz-transform: scale3d(1.2, 1.2, 1.2);
    -ms-transform: scale3d(1.2, 1.2, 1.2);
    transform: scale3d(1.2, 1.2, 1.2); }
  50% {
    opacity: 1; }
  75% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0) scale3d(1.4, 1.4, 1.4);
    -moz-transform: translate3d(0, 0, 0) scale3d(1.4, 1.4, 1.4);
    -ms-transform: translate3d(0, 0, 0) scale3d(1.4, 1.4, 1.4);
    transform: translate3d(0, 0, 0) scale3d(1.4, 1.4, 1.4); }
  100% {
    -webkit-transform: translate3d(0, 100px, 0);
    -moz-transform: translate3d(0, 100px, 0);
    -ms-transform: translate3d(0, 100px, 0);
    transform: translate3d(0, 100px, 0);
    opacity: 0; } }

@-ms-keyframes fadeAndDropdown {
  /* line 334, /Users/apflantzer/sandbox/sizzle/styles/mixins.scss */
  0% {
    opacity: 0;
    -webkit-transform: scale3d(1.2, 1.2, 1.2);
    -moz-transform: scale3d(1.2, 1.2, 1.2);
    -ms-transform: scale3d(1.2, 1.2, 1.2);
    transform: scale3d(1.2, 1.2, 1.2); }
  /* line 338, /Users/apflantzer/sandbox/sizzle/styles/mixins.scss */
  50% {
    opacity: 1; }
  /* line 341, /Users/apflantzer/sandbox/sizzle/styles/mixins.scss */
  75% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0) scale3d(1.4, 1.4, 1.4);
    -moz-transform: translate3d(0, 0, 0) scale3d(1.4, 1.4, 1.4);
    -ms-transform: translate3d(0, 0, 0) scale3d(1.4, 1.4, 1.4);
    transform: translate3d(0, 0, 0) scale3d(1.4, 1.4, 1.4); }
  /* line 345, /Users/apflantzer/sandbox/sizzle/styles/mixins.scss */
  100% {
    -webkit-transform: translate3d(0, 100px, 0);
    -moz-transform: translate3d(0, 100px, 0);
    -ms-transform: translate3d(0, 100px, 0);
    transform: translate3d(0, 100px, 0);
    opacity: 0; } }

@-khtml-keyframes fadeAndDropdown {
  /* line 334, /Users/apflantzer/sandbox/sizzle/styles/mixins.scss */
  0% {
    opacity: 0;
    -webkit-transform: scale3d(1.2, 1.2, 1.2);
    -moz-transform: scale3d(1.2, 1.2, 1.2);
    -ms-transform: scale3d(1.2, 1.2, 1.2);
    transform: scale3d(1.2, 1.2, 1.2); }
  /* line 338, /Users/apflantzer/sandbox/sizzle/styles/mixins.scss */
  50% {
    opacity: 1; }
  /* line 341, /Users/apflantzer/sandbox/sizzle/styles/mixins.scss */
  75% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0) scale3d(1.4, 1.4, 1.4);
    -moz-transform: translate3d(0, 0, 0) scale3d(1.4, 1.4, 1.4);
    -ms-transform: translate3d(0, 0, 0) scale3d(1.4, 1.4, 1.4);
    transform: translate3d(0, 0, 0) scale3d(1.4, 1.4, 1.4); }
  /* line 345, /Users/apflantzer/sandbox/sizzle/styles/mixins.scss */
  100% {
    -webkit-transform: translate3d(0, 100px, 0);
    -moz-transform: translate3d(0, 100px, 0);
    -ms-transform: translate3d(0, 100px, 0);
    transform: translate3d(0, 100px, 0);
    opacity: 0; } }

@keyframes fadeAndDropdown {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(1.2, 1.2, 1.2);
    -moz-transform: scale3d(1.2, 1.2, 1.2);
    -ms-transform: scale3d(1.2, 1.2, 1.2);
    transform: scale3d(1.2, 1.2, 1.2); }
  50% {
    opacity: 1; }
  75% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0) scale3d(1.4, 1.4, 1.4);
    -moz-transform: translate3d(0, 0, 0) scale3d(1.4, 1.4, 1.4);
    -ms-transform: translate3d(0, 0, 0) scale3d(1.4, 1.4, 1.4);
    transform: translate3d(0, 0, 0) scale3d(1.4, 1.4, 1.4); }
  100% {
    -webkit-transform: translate3d(0, 100px, 0);
    -moz-transform: translate3d(0, 100px, 0);
    -ms-transform: translate3d(0, 100px, 0);
    transform: translate3d(0, 100px, 0);
    opacity: 0; } }

@-moz-keyframes moveUpandKeep {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    -moz-transform: scale3d(0.9, 0.9, 0.9);
    -ms-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9);
    -webkit-transform: translate3d(0, 100px, 0);
    -moz-transform: translate3d(0, 100px, 0);
    -ms-transform: translate3d(0, 100px, 0);
    transform: translate3d(0, 100px, 0); }
  40% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0) scale3d(1.2, 1.2, 1.2);
    -moz-transform: translate3d(0, 0, 0) scale3d(1.2, 1.2, 1.2);
    -ms-transform: translate3d(0, 0, 0) scale3d(1.2, 1.2, 1.2);
    transform: translate3d(0, 0, 0) scale3d(1.2, 1.2, 1.2); }
  60% {
    -webkit-transform: translate3d(0, -15vh, 0) scale3d(1.2, 1.2, 1.2);
    -moz-transform: translate3d(0, -15vh, 0) scale3d(1.2, 1.2, 1.2);
    -ms-transform: translate3d(0, -15vh, 0) scale3d(1.2, 1.2, 1.2);
    transform: translate3d(0, -15vh, 0) scale3d(1.2, 1.2, 1.2);
    opacity: 1; }
  100% {
    -webkit-transform: translate3d(-20vw, 0, 0) scale3d(2, 2, 2);
    -moz-transform: translate3d(-20vw, 0, 0) scale3d(2, 2, 2);
    -ms-transform: translate3d(-20vw, 0, 0) scale3d(2, 2, 2);
    transform: translate3d(-20vw, 0, 0) scale3d(2, 2, 2);
    opacity: 0; } }

@-webkit-keyframes moveUpandKeep {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    -moz-transform: scale3d(0.9, 0.9, 0.9);
    -ms-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9);
    -webkit-transform: translate3d(0, 100px, 0);
    -moz-transform: translate3d(0, 100px, 0);
    -ms-transform: translate3d(0, 100px, 0);
    transform: translate3d(0, 100px, 0); }
  40% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0) scale3d(1.2, 1.2, 1.2);
    -moz-transform: translate3d(0, 0, 0) scale3d(1.2, 1.2, 1.2);
    -ms-transform: translate3d(0, 0, 0) scale3d(1.2, 1.2, 1.2);
    transform: translate3d(0, 0, 0) scale3d(1.2, 1.2, 1.2); }
  60% {
    -webkit-transform: translate3d(0, -15vh, 0) scale3d(1.2, 1.2, 1.2);
    -moz-transform: translate3d(0, -15vh, 0) scale3d(1.2, 1.2, 1.2);
    -ms-transform: translate3d(0, -15vh, 0) scale3d(1.2, 1.2, 1.2);
    transform: translate3d(0, -15vh, 0) scale3d(1.2, 1.2, 1.2);
    opacity: 1; }
  100% {
    -webkit-transform: translate3d(-20vw, 0, 0) scale3d(2, 2, 2);
    -moz-transform: translate3d(-20vw, 0, 0) scale3d(2, 2, 2);
    -ms-transform: translate3d(-20vw, 0, 0) scale3d(2, 2, 2);
    transform: translate3d(-20vw, 0, 0) scale3d(2, 2, 2);
    opacity: 0; } }

@-o-keyframes moveUpandKeep {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    -moz-transform: scale3d(0.9, 0.9, 0.9);
    -ms-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9);
    -webkit-transform: translate3d(0, 100px, 0);
    -moz-transform: translate3d(0, 100px, 0);
    -ms-transform: translate3d(0, 100px, 0);
    transform: translate3d(0, 100px, 0); }
  40% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0) scale3d(1.2, 1.2, 1.2);
    -moz-transform: translate3d(0, 0, 0) scale3d(1.2, 1.2, 1.2);
    -ms-transform: translate3d(0, 0, 0) scale3d(1.2, 1.2, 1.2);
    transform: translate3d(0, 0, 0) scale3d(1.2, 1.2, 1.2); }
  60% {
    -webkit-transform: translate3d(0, -15vh, 0) scale3d(1.2, 1.2, 1.2);
    -moz-transform: translate3d(0, -15vh, 0) scale3d(1.2, 1.2, 1.2);
    -ms-transform: translate3d(0, -15vh, 0) scale3d(1.2, 1.2, 1.2);
    transform: translate3d(0, -15vh, 0) scale3d(1.2, 1.2, 1.2);
    opacity: 1; }
  100% {
    -webkit-transform: translate3d(-20vw, 0, 0) scale3d(2, 2, 2);
    -moz-transform: translate3d(-20vw, 0, 0) scale3d(2, 2, 2);
    -ms-transform: translate3d(-20vw, 0, 0) scale3d(2, 2, 2);
    transform: translate3d(-20vw, 0, 0) scale3d(2, 2, 2);
    opacity: 0; } }

@-ms-keyframes moveUpandKeep {
  /* line 351, /Users/apflantzer/sandbox/sizzle/styles/mixins.scss */
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    -moz-transform: scale3d(0.9, 0.9, 0.9);
    -ms-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9);
    -webkit-transform: translate3d(0, 100px, 0);
    -moz-transform: translate3d(0, 100px, 0);
    -ms-transform: translate3d(0, 100px, 0);
    transform: translate3d(0, 100px, 0); }
  /* line 356, /Users/apflantzer/sandbox/sizzle/styles/mixins.scss */
  40% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0) scale3d(1.2, 1.2, 1.2);
    -moz-transform: translate3d(0, 0, 0) scale3d(1.2, 1.2, 1.2);
    -ms-transform: translate3d(0, 0, 0) scale3d(1.2, 1.2, 1.2);
    transform: translate3d(0, 0, 0) scale3d(1.2, 1.2, 1.2); }
  /* line 360, /Users/apflantzer/sandbox/sizzle/styles/mixins.scss */
  60% {
    -webkit-transform: translate3d(0, -15vh, 0) scale3d(1.2, 1.2, 1.2);
    -moz-transform: translate3d(0, -15vh, 0) scale3d(1.2, 1.2, 1.2);
    -ms-transform: translate3d(0, -15vh, 0) scale3d(1.2, 1.2, 1.2);
    transform: translate3d(0, -15vh, 0) scale3d(1.2, 1.2, 1.2);
    opacity: 1; }
  /* line 364, /Users/apflantzer/sandbox/sizzle/styles/mixins.scss */
  100% {
    -webkit-transform: translate3d(-20vw, 0, 0) scale3d(2, 2, 2);
    -moz-transform: translate3d(-20vw, 0, 0) scale3d(2, 2, 2);
    -ms-transform: translate3d(-20vw, 0, 0) scale3d(2, 2, 2);
    transform: translate3d(-20vw, 0, 0) scale3d(2, 2, 2);
    opacity: 0; } }

@-khtml-keyframes moveUpandKeep {
  /* line 351, /Users/apflantzer/sandbox/sizzle/styles/mixins.scss */
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    -moz-transform: scale3d(0.9, 0.9, 0.9);
    -ms-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9);
    -webkit-transform: translate3d(0, 100px, 0);
    -moz-transform: translate3d(0, 100px, 0);
    -ms-transform: translate3d(0, 100px, 0);
    transform: translate3d(0, 100px, 0); }
  /* line 356, /Users/apflantzer/sandbox/sizzle/styles/mixins.scss */
  40% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0) scale3d(1.2, 1.2, 1.2);
    -moz-transform: translate3d(0, 0, 0) scale3d(1.2, 1.2, 1.2);
    -ms-transform: translate3d(0, 0, 0) scale3d(1.2, 1.2, 1.2);
    transform: translate3d(0, 0, 0) scale3d(1.2, 1.2, 1.2); }
  /* line 360, /Users/apflantzer/sandbox/sizzle/styles/mixins.scss */
  60% {
    -webkit-transform: translate3d(0, -15vh, 0) scale3d(1.2, 1.2, 1.2);
    -moz-transform: translate3d(0, -15vh, 0) scale3d(1.2, 1.2, 1.2);
    -ms-transform: translate3d(0, -15vh, 0) scale3d(1.2, 1.2, 1.2);
    transform: translate3d(0, -15vh, 0) scale3d(1.2, 1.2, 1.2);
    opacity: 1; }
  /* line 364, /Users/apflantzer/sandbox/sizzle/styles/mixins.scss */
  100% {
    -webkit-transform: translate3d(-20vw, 0, 0) scale3d(2, 2, 2);
    -moz-transform: translate3d(-20vw, 0, 0) scale3d(2, 2, 2);
    -ms-transform: translate3d(-20vw, 0, 0) scale3d(2, 2, 2);
    transform: translate3d(-20vw, 0, 0) scale3d(2, 2, 2);
    opacity: 0; } }

@keyframes moveUpandKeep {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    -moz-transform: scale3d(0.9, 0.9, 0.9);
    -ms-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9);
    -webkit-transform: translate3d(0, 100px, 0);
    -moz-transform: translate3d(0, 100px, 0);
    -ms-transform: translate3d(0, 100px, 0);
    transform: translate3d(0, 100px, 0); }
  40% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0) scale3d(1.2, 1.2, 1.2);
    -moz-transform: translate3d(0, 0, 0) scale3d(1.2, 1.2, 1.2);
    -ms-transform: translate3d(0, 0, 0) scale3d(1.2, 1.2, 1.2);
    transform: translate3d(0, 0, 0) scale3d(1.2, 1.2, 1.2); }
  60% {
    -webkit-transform: translate3d(0, -15vh, 0) scale3d(1.2, 1.2, 1.2);
    -moz-transform: translate3d(0, -15vh, 0) scale3d(1.2, 1.2, 1.2);
    -ms-transform: translate3d(0, -15vh, 0) scale3d(1.2, 1.2, 1.2);
    transform: translate3d(0, -15vh, 0) scale3d(1.2, 1.2, 1.2);
    opacity: 1; }
  100% {
    -webkit-transform: translate3d(-20vw, 0, 0) scale3d(2, 2, 2);
    -moz-transform: translate3d(-20vw, 0, 0) scale3d(2, 2, 2);
    -ms-transform: translate3d(-20vw, 0, 0) scale3d(2, 2, 2);
    transform: translate3d(-20vw, 0, 0) scale3d(2, 2, 2);
    opacity: 0; } }

@-moz-keyframes scaleAndSlideLeft {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(1.4, 1.4, 1.4);
    -moz-transform: scale3d(1.4, 1.4, 1.4);
    -ms-transform: scale3d(1.4, 1.4, 1.4);
    transform: scale3d(1.4, 1.4, 1.4); }
  50% {
    opacity: 1; }
  75% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0) scale3d(1.7, 1.7, 1.7);
    -moz-transform: translate3d(0, 0, 0) scale3d(1.7, 1.7, 1.7);
    -ms-transform: translate3d(0, 0, 0) scale3d(1.7, 1.7, 1.7);
    transform: translate3d(0, 0, 0) scale3d(1.7, 1.7, 1.7); }
  100% {
    -webkit-transform: translate3d(-20vw, 0, 0) scale3d(2, 2, 2);
    -moz-transform: translate3d(-20vw, 0, 0) scale3d(2, 2, 2);
    -ms-transform: translate3d(-20vw, 0, 0) scale3d(2, 2, 2);
    transform: translate3d(-20vw, 0, 0) scale3d(2, 2, 2);
    opacity: 0; } }

@-webkit-keyframes scaleAndSlideLeft {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(1.4, 1.4, 1.4);
    -moz-transform: scale3d(1.4, 1.4, 1.4);
    -ms-transform: scale3d(1.4, 1.4, 1.4);
    transform: scale3d(1.4, 1.4, 1.4); }
  50% {
    opacity: 1; }
  75% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0) scale3d(1.7, 1.7, 1.7);
    -moz-transform: translate3d(0, 0, 0) scale3d(1.7, 1.7, 1.7);
    -ms-transform: translate3d(0, 0, 0) scale3d(1.7, 1.7, 1.7);
    transform: translate3d(0, 0, 0) scale3d(1.7, 1.7, 1.7); }
  100% {
    -webkit-transform: translate3d(-20vw, 0, 0) scale3d(2, 2, 2);
    -moz-transform: translate3d(-20vw, 0, 0) scale3d(2, 2, 2);
    -ms-transform: translate3d(-20vw, 0, 0) scale3d(2, 2, 2);
    transform: translate3d(-20vw, 0, 0) scale3d(2, 2, 2);
    opacity: 0; } }

@-o-keyframes scaleAndSlideLeft {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(1.4, 1.4, 1.4);
    -moz-transform: scale3d(1.4, 1.4, 1.4);
    -ms-transform: scale3d(1.4, 1.4, 1.4);
    transform: scale3d(1.4, 1.4, 1.4); }
  50% {
    opacity: 1; }
  75% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0) scale3d(1.7, 1.7, 1.7);
    -moz-transform: translate3d(0, 0, 0) scale3d(1.7, 1.7, 1.7);
    -ms-transform: translate3d(0, 0, 0) scale3d(1.7, 1.7, 1.7);
    transform: translate3d(0, 0, 0) scale3d(1.7, 1.7, 1.7); }
  100% {
    -webkit-transform: translate3d(-20vw, 0, 0) scale3d(2, 2, 2);
    -moz-transform: translate3d(-20vw, 0, 0) scale3d(2, 2, 2);
    -ms-transform: translate3d(-20vw, 0, 0) scale3d(2, 2, 2);
    transform: translate3d(-20vw, 0, 0) scale3d(2, 2, 2);
    opacity: 0; } }

@-ms-keyframes scaleAndSlideLeft {
  /* line 370, /Users/apflantzer/sandbox/sizzle/styles/mixins.scss */
  0% {
    opacity: 0;
    -webkit-transform: scale3d(1.4, 1.4, 1.4);
    -moz-transform: scale3d(1.4, 1.4, 1.4);
    -ms-transform: scale3d(1.4, 1.4, 1.4);
    transform: scale3d(1.4, 1.4, 1.4); }
  /* line 374, /Users/apflantzer/sandbox/sizzle/styles/mixins.scss */
  50% {
    opacity: 1; }
  /* line 377, /Users/apflantzer/sandbox/sizzle/styles/mixins.scss */
  75% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0) scale3d(1.7, 1.7, 1.7);
    -moz-transform: translate3d(0, 0, 0) scale3d(1.7, 1.7, 1.7);
    -ms-transform: translate3d(0, 0, 0) scale3d(1.7, 1.7, 1.7);
    transform: translate3d(0, 0, 0) scale3d(1.7, 1.7, 1.7); }
  /* line 381, /Users/apflantzer/sandbox/sizzle/styles/mixins.scss */
  100% {
    -webkit-transform: translate3d(-20vw, 0, 0) scale3d(2, 2, 2);
    -moz-transform: translate3d(-20vw, 0, 0) scale3d(2, 2, 2);
    -ms-transform: translate3d(-20vw, 0, 0) scale3d(2, 2, 2);
    transform: translate3d(-20vw, 0, 0) scale3d(2, 2, 2);
    opacity: 0; } }

@-khtml-keyframes scaleAndSlideLeft {
  /* line 370, /Users/apflantzer/sandbox/sizzle/styles/mixins.scss */
  0% {
    opacity: 0;
    -webkit-transform: scale3d(1.4, 1.4, 1.4);
    -moz-transform: scale3d(1.4, 1.4, 1.4);
    -ms-transform: scale3d(1.4, 1.4, 1.4);
    transform: scale3d(1.4, 1.4, 1.4); }
  /* line 374, /Users/apflantzer/sandbox/sizzle/styles/mixins.scss */
  50% {
    opacity: 1; }
  /* line 377, /Users/apflantzer/sandbox/sizzle/styles/mixins.scss */
  75% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0) scale3d(1.7, 1.7, 1.7);
    -moz-transform: translate3d(0, 0, 0) scale3d(1.7, 1.7, 1.7);
    -ms-transform: translate3d(0, 0, 0) scale3d(1.7, 1.7, 1.7);
    transform: translate3d(0, 0, 0) scale3d(1.7, 1.7, 1.7); }
  /* line 381, /Users/apflantzer/sandbox/sizzle/styles/mixins.scss */
  100% {
    -webkit-transform: translate3d(-20vw, 0, 0) scale3d(2, 2, 2);
    -moz-transform: translate3d(-20vw, 0, 0) scale3d(2, 2, 2);
    -ms-transform: translate3d(-20vw, 0, 0) scale3d(2, 2, 2);
    transform: translate3d(-20vw, 0, 0) scale3d(2, 2, 2);
    opacity: 0; } }

@keyframes scaleAndSlideLeft {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(1.4, 1.4, 1.4);
    -moz-transform: scale3d(1.4, 1.4, 1.4);
    -ms-transform: scale3d(1.4, 1.4, 1.4);
    transform: scale3d(1.4, 1.4, 1.4); }
  50% {
    opacity: 1; }
  75% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0) scale3d(1.7, 1.7, 1.7);
    -moz-transform: translate3d(0, 0, 0) scale3d(1.7, 1.7, 1.7);
    -ms-transform: translate3d(0, 0, 0) scale3d(1.7, 1.7, 1.7);
    transform: translate3d(0, 0, 0) scale3d(1.7, 1.7, 1.7); }
  100% {
    -webkit-transform: translate3d(-20vw, 0, 0) scale3d(2, 2, 2);
    -moz-transform: translate3d(-20vw, 0, 0) scale3d(2, 2, 2);
    -ms-transform: translate3d(-20vw, 0, 0) scale3d(2, 2, 2);
    transform: translate3d(-20vw, 0, 0) scale3d(2, 2, 2);
    opacity: 0; } }

@-moz-keyframes removeDiv {
  0% {
    height: 100%; }
  100% {
    height: 0; } }

@-webkit-keyframes removeDiv {
  0% {
    height: 100%; }
  100% {
    height: 0; } }

@-o-keyframes removeDiv {
  0% {
    height: 100%; }
  100% {
    height: 0; } }

@-ms-keyframes removeDiv {
  /* line 387, /Users/apflantzer/sandbox/sizzle/styles/mixins.scss */
  0% {
    height: 100%; }
  /* line 390, /Users/apflantzer/sandbox/sizzle/styles/mixins.scss */
  100% {
    height: 0; } }

@-khtml-keyframes removeDiv {
  /* line 387, /Users/apflantzer/sandbox/sizzle/styles/mixins.scss */
  0% {
    height: 100%; }
  /* line 390, /Users/apflantzer/sandbox/sizzle/styles/mixins.scss */
  100% {
    height: 0; } }

@keyframes removeDiv {
  0% {
    height: 100%; }
  100% {
    height: 0; } }

@-moz-keyframes fadeAndUp {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(1, 1, 1);
    -moz-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); }
  50% {
    opacity: 1;
    -webkit-transform: translate3d(0, -25vh, 0) scale3d(1.85, 1.85, 1.85);
    -moz-transform: translate3d(0, -25vh, 0) scale3d(1.85, 1.85, 1.85);
    -ms-transform: translate3d(0, -25vh, 0) scale3d(1.85, 1.85, 1.85);
    transform: translate3d(0, -25vh, 0) scale3d(1.85, 1.85, 1.85); }
  100% {
    -webkit-transform: translate3d(0, -25vh, 0) scale3d(1.85, 1.85, 1.85);
    -moz-transform: translate3d(0, -25vh, 0) scale3d(1.85, 1.85, 1.85);
    -ms-transform: translate3d(0, -25vh, 0) scale3d(1.85, 1.85, 1.85);
    transform: translate3d(0, -25vh, 0) scale3d(1.85, 1.85, 1.85);
    opacity: 1; } }

@-webkit-keyframes fadeAndUp {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(1, 1, 1);
    -moz-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); }
  50% {
    opacity: 1;
    -webkit-transform: translate3d(0, -25vh, 0) scale3d(1.85, 1.85, 1.85);
    -moz-transform: translate3d(0, -25vh, 0) scale3d(1.85, 1.85, 1.85);
    -ms-transform: translate3d(0, -25vh, 0) scale3d(1.85, 1.85, 1.85);
    transform: translate3d(0, -25vh, 0) scale3d(1.85, 1.85, 1.85); }
  100% {
    -webkit-transform: translate3d(0, -25vh, 0) scale3d(1.85, 1.85, 1.85);
    -moz-transform: translate3d(0, -25vh, 0) scale3d(1.85, 1.85, 1.85);
    -ms-transform: translate3d(0, -25vh, 0) scale3d(1.85, 1.85, 1.85);
    transform: translate3d(0, -25vh, 0) scale3d(1.85, 1.85, 1.85);
    opacity: 1; } }

@-o-keyframes fadeAndUp {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(1, 1, 1);
    -moz-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); }
  50% {
    opacity: 1;
    -webkit-transform: translate3d(0, -25vh, 0) scale3d(1.85, 1.85, 1.85);
    -moz-transform: translate3d(0, -25vh, 0) scale3d(1.85, 1.85, 1.85);
    -ms-transform: translate3d(0, -25vh, 0) scale3d(1.85, 1.85, 1.85);
    transform: translate3d(0, -25vh, 0) scale3d(1.85, 1.85, 1.85); }
  100% {
    -webkit-transform: translate3d(0, -25vh, 0) scale3d(1.85, 1.85, 1.85);
    -moz-transform: translate3d(0, -25vh, 0) scale3d(1.85, 1.85, 1.85);
    -ms-transform: translate3d(0, -25vh, 0) scale3d(1.85, 1.85, 1.85);
    transform: translate3d(0, -25vh, 0) scale3d(1.85, 1.85, 1.85);
    opacity: 1; } }

@-ms-keyframes fadeAndUp {
  /* line 395, /Users/apflantzer/sandbox/sizzle/styles/mixins.scss */
  0% {
    opacity: 0;
    -webkit-transform: scale3d(1, 1, 1);
    -moz-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); }
  /* line 399, /Users/apflantzer/sandbox/sizzle/styles/mixins.scss */
  50% {
    opacity: 1;
    -webkit-transform: translate3d(0, -25vh, 0) scale3d(1.85, 1.85, 1.85);
    -moz-transform: translate3d(0, -25vh, 0) scale3d(1.85, 1.85, 1.85);
    -ms-transform: translate3d(0, -25vh, 0) scale3d(1.85, 1.85, 1.85);
    transform: translate3d(0, -25vh, 0) scale3d(1.85, 1.85, 1.85); }
  /* line 403, /Users/apflantzer/sandbox/sizzle/styles/mixins.scss */
  100% {
    -webkit-transform: translate3d(0, -25vh, 0) scale3d(1.85, 1.85, 1.85);
    -moz-transform: translate3d(0, -25vh, 0) scale3d(1.85, 1.85, 1.85);
    -ms-transform: translate3d(0, -25vh, 0) scale3d(1.85, 1.85, 1.85);
    transform: translate3d(0, -25vh, 0) scale3d(1.85, 1.85, 1.85);
    opacity: 1; } }

@-khtml-keyframes fadeAndUp {
  /* line 395, /Users/apflantzer/sandbox/sizzle/styles/mixins.scss */
  0% {
    opacity: 0;
    -webkit-transform: scale3d(1, 1, 1);
    -moz-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); }
  /* line 399, /Users/apflantzer/sandbox/sizzle/styles/mixins.scss */
  50% {
    opacity: 1;
    -webkit-transform: translate3d(0, -25vh, 0) scale3d(1.85, 1.85, 1.85);
    -moz-transform: translate3d(0, -25vh, 0) scale3d(1.85, 1.85, 1.85);
    -ms-transform: translate3d(0, -25vh, 0) scale3d(1.85, 1.85, 1.85);
    transform: translate3d(0, -25vh, 0) scale3d(1.85, 1.85, 1.85); }
  /* line 403, /Users/apflantzer/sandbox/sizzle/styles/mixins.scss */
  100% {
    -webkit-transform: translate3d(0, -25vh, 0) scale3d(1.85, 1.85, 1.85);
    -moz-transform: translate3d(0, -25vh, 0) scale3d(1.85, 1.85, 1.85);
    -ms-transform: translate3d(0, -25vh, 0) scale3d(1.85, 1.85, 1.85);
    transform: translate3d(0, -25vh, 0) scale3d(1.85, 1.85, 1.85);
    opacity: 1; } }

@keyframes fadeAndUp {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(1, 1, 1);
    -moz-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); }
  50% {
    opacity: 1;
    -webkit-transform: translate3d(0, -25vh, 0) scale3d(1.85, 1.85, 1.85);
    -moz-transform: translate3d(0, -25vh, 0) scale3d(1.85, 1.85, 1.85);
    -ms-transform: translate3d(0, -25vh, 0) scale3d(1.85, 1.85, 1.85);
    transform: translate3d(0, -25vh, 0) scale3d(1.85, 1.85, 1.85); }
  100% {
    -webkit-transform: translate3d(0, -25vh, 0) scale3d(1.85, 1.85, 1.85);
    -moz-transform: translate3d(0, -25vh, 0) scale3d(1.85, 1.85, 1.85);
    -ms-transform: translate3d(0, -25vh, 0) scale3d(1.85, 1.85, 1.85);
    transform: translate3d(0, -25vh, 0) scale3d(1.85, 1.85, 1.85);
    opacity: 1; } }

@-moz-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(359deg);
    -moz-transform: rotate(359deg);
    -ms-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    transform: rotate(359deg); } }

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(359deg);
    -moz-transform: rotate(359deg);
    -ms-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    transform: rotate(359deg); } }

@-o-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(359deg);
    -moz-transform: rotate(359deg);
    -ms-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    transform: rotate(359deg); } }

@-ms-keyframes rotation {
  /* line 409, /Users/apflantzer/sandbox/sizzle/styles/mixins.scss */
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  /* line 412, /Users/apflantzer/sandbox/sizzle/styles/mixins.scss */
  to {
    -webkit-transform: rotate(359deg);
    -moz-transform: rotate(359deg);
    -ms-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    transform: rotate(359deg); } }

@-khtml-keyframes rotation {
  /* line 409, /Users/apflantzer/sandbox/sizzle/styles/mixins.scss */
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  /* line 412, /Users/apflantzer/sandbox/sizzle/styles/mixins.scss */
  to {
    -webkit-transform: rotate(359deg);
    -moz-transform: rotate(359deg);
    -ms-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    transform: rotate(359deg); } }

@keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(359deg);
    -moz-transform: rotate(359deg);
    -ms-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    transform: rotate(359deg); } }

@-moz-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-o-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-ms-keyframes fadeIn {
  /* line 417, /Users/apflantzer/sandbox/sizzle/styles/mixins.scss */
  from {
    opacity: 0; }
  /* line 420, /Users/apflantzer/sandbox/sizzle/styles/mixins.scss */
  to {
    opacity: 1; } }

@-khtml-keyframes fadeIn {
  /* line 417, /Users/apflantzer/sandbox/sizzle/styles/mixins.scss */
  from {
    opacity: 0; }
  /* line 420, /Users/apflantzer/sandbox/sizzle/styles/mixins.scss */
  to {
    opacity: 1; } }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-moz-keyframes mobileView {
  100% {
    -webkit-transform: translate3d(-100vw, 0, 0) scale3d(1.5, 1.5, 1.5);
    -moz-transform: translate3d(-100vw, 0, 0) scale3d(1.5, 1.5, 1.5);
    -ms-transform: translate3d(-100vw, 0, 0) scale3d(1.5, 1.5, 1.5);
    transform: translate3d(-100vw, 0, 0) scale3d(1.5, 1.5, 1.5); } }

@-webkit-keyframes mobileView {
  100% {
    -webkit-transform: translate3d(-100vw, 0, 0) scale3d(1.5, 1.5, 1.5);
    -moz-transform: translate3d(-100vw, 0, 0) scale3d(1.5, 1.5, 1.5);
    -ms-transform: translate3d(-100vw, 0, 0) scale3d(1.5, 1.5, 1.5);
    transform: translate3d(-100vw, 0, 0) scale3d(1.5, 1.5, 1.5); } }

@-o-keyframes mobileView {
  100% {
    -webkit-transform: translate3d(-100vw, 0, 0) scale3d(1.5, 1.5, 1.5);
    -moz-transform: translate3d(-100vw, 0, 0) scale3d(1.5, 1.5, 1.5);
    -ms-transform: translate3d(-100vw, 0, 0) scale3d(1.5, 1.5, 1.5);
    transform: translate3d(-100vw, 0, 0) scale3d(1.5, 1.5, 1.5); } }

@-ms-keyframes mobileView {
  /* line 426, /Users/apflantzer/sandbox/sizzle/styles/mixins.scss */
  100% {
    -webkit-transform: translate3d(-100vw, 0, 0) scale3d(1.5, 1.5, 1.5);
    -moz-transform: translate3d(-100vw, 0, 0) scale3d(1.5, 1.5, 1.5);
    -ms-transform: translate3d(-100vw, 0, 0) scale3d(1.5, 1.5, 1.5);
    transform: translate3d(-100vw, 0, 0) scale3d(1.5, 1.5, 1.5); } }

@-khtml-keyframes mobileView {
  /* line 426, /Users/apflantzer/sandbox/sizzle/styles/mixins.scss */
  100% {
    -webkit-transform: translate3d(-100vw, 0, 0) scale3d(1.5, 1.5, 1.5);
    -moz-transform: translate3d(-100vw, 0, 0) scale3d(1.5, 1.5, 1.5);
    -ms-transform: translate3d(-100vw, 0, 0) scale3d(1.5, 1.5, 1.5);
    transform: translate3d(-100vw, 0, 0) scale3d(1.5, 1.5, 1.5); } }

@keyframes mobileView {
  100% {
    -webkit-transform: translate3d(-100vw, 0, 0) scale3d(1.5, 1.5, 1.5);
    -moz-transform: translate3d(-100vw, 0, 0) scale3d(1.5, 1.5, 1.5);
    -ms-transform: translate3d(-100vw, 0, 0) scale3d(1.5, 1.5, 1.5);
    transform: translate3d(-100vw, 0, 0) scale3d(1.5, 1.5, 1.5); } }

@-moz-keyframes stroke-offset {
  0% {
    stroke-dashoffset: 30%;
    stroke-dasharray: 0 75%; } }

@-webkit-keyframes stroke-offset {
  0% {
    stroke-dashoffset: 30%;
    stroke-dasharray: 0 75%; } }

@-o-keyframes stroke-offset {
  0% {
    stroke-dashoffset: 30%;
    stroke-dasharray: 0 75%; } }

@-ms-keyframes stroke-offset {
  /* line 434, /Users/apflantzer/sandbox/sizzle/styles/mixins.scss */
  0% {
    stroke-dashoffset: 30%;
    stroke-dasharray: 0 75%; } }

@-khtml-keyframes stroke-offset {
  /* line 434, /Users/apflantzer/sandbox/sizzle/styles/mixins.scss */
  0% {
    stroke-dashoffset: 30%;
    stroke-dasharray: 0 75%; } }

@keyframes stroke-offset {
  0% {
    stroke-dashoffset: 30%;
    stroke-dasharray: 0 75%; } }

@-moz-keyframes navHover {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    font-size: 16px; }
  100% {
    -webkit-transform: translate3d(25px, 11px, 0);
    -moz-transform: translate3d(25px, 11px, 0);
    -ms-transform: translate3d(25px, 11px, 0);
    transform: translate3d(25px, 11px, 0);
    font-size: 20px; } }

@-webkit-keyframes navHover {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    font-size: 16px; }
  100% {
    -webkit-transform: translate3d(25px, 11px, 0);
    -moz-transform: translate3d(25px, 11px, 0);
    -ms-transform: translate3d(25px, 11px, 0);
    transform: translate3d(25px, 11px, 0);
    font-size: 20px; } }

@-o-keyframes navHover {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    font-size: 16px; }
  100% {
    -webkit-transform: translate3d(25px, 11px, 0);
    -moz-transform: translate3d(25px, 11px, 0);
    -ms-transform: translate3d(25px, 11px, 0);
    transform: translate3d(25px, 11px, 0);
    font-size: 20px; } }

@-ms-keyframes navHover {
  /* line 440, /Users/apflantzer/sandbox/sizzle/styles/mixins.scss */
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    font-size: 16px; }
  /* line 444, /Users/apflantzer/sandbox/sizzle/styles/mixins.scss */
  100% {
    -webkit-transform: translate3d(25px, 11px, 0);
    -moz-transform: translate3d(25px, 11px, 0);
    -ms-transform: translate3d(25px, 11px, 0);
    transform: translate3d(25px, 11px, 0);
    font-size: 20px; } }

@-khtml-keyframes navHover {
  /* line 440, /Users/apflantzer/sandbox/sizzle/styles/mixins.scss */
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    font-size: 16px; }
  /* line 444, /Users/apflantzer/sandbox/sizzle/styles/mixins.scss */
  100% {
    -webkit-transform: translate3d(25px, 11px, 0);
    -moz-transform: translate3d(25px, 11px, 0);
    -ms-transform: translate3d(25px, 11px, 0);
    transform: translate3d(25px, 11px, 0);
    font-size: 20px; } }

@keyframes navHover {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    font-size: 16px; }
  100% {
    -webkit-transform: translate3d(25px, 11px, 0);
    -moz-transform: translate3d(25px, 11px, 0);
    -ms-transform: translate3d(25px, 11px, 0);
    transform: translate3d(25px, 11px, 0);
    font-size: 20px; } }

@-moz-keyframes iconZoom {
  100% {
    -webkit-transform: translate3d(8px, 0, 0) scale3d(2, 2, 2);
    -moz-transform: translate3d(8px, 0, 0) scale3d(2, 2, 2);
    -ms-transform: translate3d(8px, 0, 0) scale3d(2, 2, 2);
    transform: translate3d(8px, 0, 0) scale3d(2, 2, 2); } }

@-webkit-keyframes iconZoom {
  100% {
    -webkit-transform: translate3d(8px, 0, 0) scale3d(2, 2, 2);
    -moz-transform: translate3d(8px, 0, 0) scale3d(2, 2, 2);
    -ms-transform: translate3d(8px, 0, 0) scale3d(2, 2, 2);
    transform: translate3d(8px, 0, 0) scale3d(2, 2, 2); } }

@-o-keyframes iconZoom {
  100% {
    -webkit-transform: translate3d(8px, 0, 0) scale3d(2, 2, 2);
    -moz-transform: translate3d(8px, 0, 0) scale3d(2, 2, 2);
    -ms-transform: translate3d(8px, 0, 0) scale3d(2, 2, 2);
    transform: translate3d(8px, 0, 0) scale3d(2, 2, 2); } }

@-ms-keyframes iconZoom {
  /* line 450, /Users/apflantzer/sandbox/sizzle/styles/mixins.scss */
  100% {
    -webkit-transform: translate3d(8px, 0, 0) scale3d(2, 2, 2);
    -moz-transform: translate3d(8px, 0, 0) scale3d(2, 2, 2);
    -ms-transform: translate3d(8px, 0, 0) scale3d(2, 2, 2);
    transform: translate3d(8px, 0, 0) scale3d(2, 2, 2); } }

@-khtml-keyframes iconZoom {
  /* line 450, /Users/apflantzer/sandbox/sizzle/styles/mixins.scss */
  100% {
    -webkit-transform: translate3d(8px, 0, 0) scale3d(2, 2, 2);
    -moz-transform: translate3d(8px, 0, 0) scale3d(2, 2, 2);
    -ms-transform: translate3d(8px, 0, 0) scale3d(2, 2, 2);
    transform: translate3d(8px, 0, 0) scale3d(2, 2, 2); } }

@keyframes iconZoom {
  100% {
    -webkit-transform: translate3d(8px, 0, 0) scale3d(2, 2, 2);
    -moz-transform: translate3d(8px, 0, 0) scale3d(2, 2, 2);
    -ms-transform: translate3d(8px, 0, 0) scale3d(2, 2, 2);
    transform: translate3d(8px, 0, 0) scale3d(2, 2, 2); } }

@-moz-keyframes photoScale {
  from {
    opacity: 0;
    left: 0; }
  to {
    left: 20px;
    opacity: 1; } }

@-webkit-keyframes photoScale {
  from {
    opacity: 0;
    left: 0; }
  to {
    left: 20px;
    opacity: 1; } }

@-o-keyframes photoScale {
  from {
    opacity: 0;
    left: 0; }
  to {
    left: 20px;
    opacity: 1; } }

@-ms-keyframes photoScale {
  /* line 455, /Users/apflantzer/sandbox/sizzle/styles/mixins.scss */
  from {
    opacity: 0;
    left: 0; }
  /* line 459, /Users/apflantzer/sandbox/sizzle/styles/mixins.scss */
  to {
    left: 20px;
    opacity: 1; } }

@-khtml-keyframes photoScale {
  /* line 455, /Users/apflantzer/sandbox/sizzle/styles/mixins.scss */
  from {
    opacity: 0;
    left: 0; }
  /* line 459, /Users/apflantzer/sandbox/sizzle/styles/mixins.scss */
  to {
    left: 20px;
    opacity: 1; } }

@keyframes photoScale {
  from {
    opacity: 0;
    left: 0; }
  to {
    left: 20px;
    opacity: 1; } }

/* --------------------
Extenders
--------------------------*/

/*# sourceMappingURL=mixins.css.map */