$primaryBlue : #3d95ce;
    $primaryBlue-light : lighten($primaryBlue,10%);
    $primaryBlue-dark : darken($primaryBlue,10%);
$primaryLight : #f5f5f5;
$primaryDark: #283036;
$primaryMid: #4c6b7f;

$accentColor_A : #FF6665;
$accentColor_B : #ccca28;


$grayText : #808486;
$green : #3db13d;
$darkBlue : #283036;
$lightGray : #e5ebed;
$activeBlue : #2c6c96;
$grayButton: #a1a1a1;
$ist_blue: #34495e;
$ist_lightGray:  #ecf0f1;
$ist_darkGray: #bdc3c7;
